html {
    font-family: 'Karla';
    color: #E32C10;
    font-size: 18px;
    background-color: #F7F6E2;
}

body {
    margin-top: 0px;
}

.highlight {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: italic;
    background-color: #F2D4C9;
}

h2 {
    font-size: 2.6em;
    line-height: 1.3;
}

h4 {
    font-family: 'Cormorant Garamond';
}

/* Nav bar header: */

.header {
    width: 100%;
    height: 69px;
    display: inline-flex;
    background-color: #F7F6E2;
    border-bottom: 1px solid #E32C10;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo img {
    height: 50px;
    opacity: 0.9;
    align-items: center;
    padding-left: 10px;
}

.links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.links a {
    padding: 10px;
    color: seashell;
}

/* Mission section */

#mission {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.mission-image {
    display: flex;
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.mission-text {
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10% 20% 10% 20%;
    background-color:#F7F6E2;
}

/* Little Image divider */

#divider {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.divider-image {
    width: 40%;
    height: fit-content;
}

.divider-image img {
    justify-content: center;
    max-width: 100%;
    height: auto;
}

/* Featured section */

.featured-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#featured {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 1000px;
    align-content: center;
    align-items: center;
}

#featured h2 {
    margin: 0;
}

#featured h3 {
    margin-top: 10px;
}

.gallery {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 100px;
}

.gallery-item {
    justify-content: center;
    padding: 15px;
}

.gallery-item img {
    width: 300px;
}

/* Locations */

#location {
    display: flex;
    width: 100%;
    justify-content: center;
}

.location-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
}

.location-boxes {
    display: inline-flex;
    justify-content: center;
    
}

.loc-text {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color:#F7F6E2;
}

/* Contact info: */

.contact {
    text-align: center;
    margin-top: 50px;
    height: 150px;
}

/* Footer: */
footer {
    padding-left: 20px;
    text-align: left;
}