:root {
    --font-main: 'Karla', sans-serif;
    --font-secondary: 'Cormorant Garamond';
    --color-background: #242422;
    --color-primary: #84e310;
    --color-secondary: #10e372;
}

html {
    font-size: 100%; /*Accessibility thing, respects users preferences, 16px by default*/
}

body {
    margin: 0px;
    font-family: var(--font-main);
    font-size: 1.125rem; 
    color: var(--color-primary);
    background-color: var(--color-background);
    text-align: center;
}

.highlight {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-style: italic;
    color: var(--color-secondary)
}

h1 {
    font-size: 4.6rem;
    line-height: 5.7rem;
}

h2 {
    font-size: 2.6rem;
}

p {
    font-family: var(--font-secondary);
}

/* Nav bar header: */

.header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 3rem;
}

.logo img {
    height: 50px;
    padding-left: 1rem;
}

.links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.links a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.links a:hover {
    color: var(--color-secondary);
}

/* General block styling */

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: fit-content;
    background-color:#242422;
}

.block p {
    width: 60%;
}


/* About section */

#about {
    display: flex;
    justify-content: center;
}

#about h1 {
    margin-top: 1.2rem;
    margin-bottom: 0.1rem;
}


/* Projects section */

#projects {
    display: flex;
    justify-content: center;
}

#projects h2 {
    margin-top: 5rem;
    margin-bottom: 0.3rem;
}

.gallery {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 3rem;
}

.gallery-item {
    justify-content: center;
    padding: 15px;
}

.gallery-item img {
    width: 300px;
}

/* Contact info: */

#contact {
    text-align: center;
    margin-top: 50px;
    height: 150px;
}

/* Footer: */
footer {
    margin-top: 6rem;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}