html {
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    background-color: black;
}

/* Nav bar header: */

.header {
    width: 100%;
    height: 69px;
    display: inline-flex;
    background-color: black;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo img {
    height: 50px;
    opacity: 0.9;
    align-items: center;
    padding-left: 10px;
}

.links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.links a {
    padding: 10px;
    color: seashell;
}

/* Mission section */

#mission {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.mission-image {
    display: flex;
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.mission-text {
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: black;
}

/* Featured section */

.featured-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#featured {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 1000px;
    align-content: center;
    align-items: center;
}

#featured h2 {
    margin: 0;
}

#featured h3 {
    margin-top: 10px;
}

.gallery {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 100px;
}

.gallery-item {
    justify-content: center;
    padding: 15px;
}

.gallery-item img {
    width: 300px;
}

/* Locations */

#location {
    display: flex;
    width: 100%;
    justify-content: center;
}

.location-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
}

.location-boxes {
    display: inline-flex;
    justify-content: center;
    
}

.loc-text {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

/* Contact info: */

.contact {
    text-align: center;
    margin-top: 50px;
    height: 150px;
}

/* Footer: */
footer {
    padding-left: 20px;
    text-align: left;
}